:root{
    --blanco: #FFFFFF;
    --negro: #000000;
    --rojiso: #B22222;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --grisClaro: #DFE9F3;
    --naranjiso: #FF5733 ;
    --grisaseo: #85929E ;
    --azul:#0000CC ;
}
body{
    font-family: "Krub", sans-serif;
    background-image: url(../imagenes/fondolimpio.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}
#titulo{
    text-align: center;
}
.contenedor{
    /*120rem = 1,200 pixeles*/
         max-width: 100rem;
    /*margin es para definir en que posicion se va a colocar un elemento*/
    /*margin-top:0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;*/
    /*Este margin aplica igual que el ejemplo de arriva*/
         margin: 0 auto;
}
.sombra{
        /*ingresamos a :https://www.cssmatic.com/box-shadow. para modificar las sombras como queramos de nuestras paginas*/
        box-shadow: 5px 5px 15px 0px rgba(94,94,94,0.48);

        /*Para el fondo de mis servicios*/
        background-color: var(--grisClaro);
        /*Para el espacio de la cabeza de mis servicios con respecto lo que engloba mis servicios*/
        padding: 1rem;
        /*para hacer circular los bordes de mis servicios*/
        border-radius: 1rem;
}

  .hero{
    /*image buco la ruta donde esta la imagen y la selecciono*/
            background-image: url(../imagenes/hero.jpg);
    /*repeat Le digo que no repita la imagen hacia los dados*/
            background-repeat: no-repeat;
    /*cover Es para cubrir todo el ancho y o tamaño de la pagina*/
            background-size: cover;
    /*height Va a tomar el alto de la imagen*/
            height: 100%;
           
            position: relative;
    /*Para el espacio de entre la imagen y mis sevicios */
            margin-bottom: 2rem;
            
    }
    .contenido-hero{
    
             position: relative;
             /*Con rgba modifico el color de la tranparencia de la imagen con negro 
             y el la transparencia aplica con el ultimo parametro*/
             background-color:rgba(0, 0, 0,.6);/*esta sintaxis es la forma antigua*/
             background-color: rgb(0 0 0 /70%);/*esta es la fomra actual pero no lo soporta ya algunos navegadores*/
             height: 100%;
             width: 100%;
    
            /*ESTA EL LA PARTE DE LA IMAGEN QUE HACE QUE EL CONTENIDO ESTE CENTRADO*/
                /*Este codigo se puede utilizar para cualquier proyecto que desee alinear*/
             display:flex;
             flex-direction: column;
             align-items: center;
             /*justify-content hace que se centre pero en el fondo osea que hace que ce centre como horizontalmente
             como verticalmente*/
             justify-content: center;
    }
    .contenido-hero h2,
    .contenido-hero p,li{
    
        color: var(--blanco);
      
    }
    
    .contenido-hero .ubicacion{
        /*display flex es para alinear nuestras etiquetas de manera horizontal*/
        display: flex;
        /*align-items flex end ayuda para una vez alineados horizontalmente lo aline pero hacia abajo*/
        align-items: flex-end;
    }
    
    /*Apartado de servicios*/
    @media (min-width: 768px){
        .servicios{
            /*display grid o css grid  es lo que te prmite definir la ubicaciony tamaño de los elementos
            de tu sitio web*/
            display: grid;
            /*Es para modificar o definir en un solo apartado o division en este caso la division que hay en los servicios
            pero este es para las columnas y exoste para las filas igual*/
            grid-template-columns:repeat(3, 1fr);
    
            column-gap: 1rem;
        }
        
    }
    
                                                                            /*ICONOS DE FONDO AMARILLO*/
    
    .servicio{
    /*display flex coloca los items de izquierda a derecha*/
    display: flex;
    /*le decimos la direccion que va a tomar en este caso que los acomode por columna*/
    flex-direction: column;
    /*los alineamos hacia el centro*/
    align-items: center;
    
    }
    .servicio h3{
    
        color: var(--secundario);
    
    }
    .servicio p {
    /*para dar una alineacion mas larga para que se lea mejor*/
        line-height: 2rem;
        font-weight: normal;
        text-align: center;
    
    }
    .numeros li{
      line-height: 2rem;
      font-weight: normal;
      text-align:left;
    }
    .servicio span{
      color: var(--secundario);
      font-weight: normal;
      padding: 3px;
    }
    /*Este apartado es para los iconos de color amarillo*/
    .servicio  .iconos{
    
    height: 15rem;
    width: 15rem;
    /*Para el color de el fondo de los circilos*/
    background-color: var(--primario);
    /*esto es para cuando tengo un cuadrado, desgasto las orillas a un 50% y da la forma del circulo*/
    border-radius: 50%;
    /*es para pponer de izquierda a la derecha*/
    display: flex;
    /*esto es para que se centren tanto hacia arriva ,abajo, derecha, isquierda y haya una separacion de los iconos como los iconos de en medio*/
    justify-content: space-evenly;
    /*para que los componentes se coloquen en el centro dentro del div*/
    align-items: center;
    
    }
  
  
  #pie{
    /*ingresamos a :https://www.cssmatic.com/box-shadow. para modificar las sombras como queramos de nuestras paginas*/
    box-shadow: 5px 5px 15px 0px rgba(94,94,94,0.48);

    /*Para el fondo de mis servicios*/
    background-color: var(--grisaseo);
    color: var(--blanco);
    /*Para el espacio de la cabeza de mis servicios con respecto lo que engloba mis servicios*/
    padding: .5em;
    /*para hacer circular los bordes de mis servicios*/
    border-radius: 1rem;

    max-width: 100%;
    
    margin: 0 auto;
}

#pie span{
    font-size: 10px;
}
